#products-chart-iframe {
    min-width: 100%;
    border: none;
    height:500px;
}

.sale-tracker .col-left {
    position:relative;
    width: 50%;
    float: left;
}

.sale-tracker .col-right {
    position: relative;
    width: 50%;
    float: left;
}
.sale-tracker .table {
    border-collapse: collapse;
    margin: 0 0 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.sale-tracker .table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.sale-tracker .table th,
.sale-tracker .table td {
    padding: 12px 15px;
}

.sale-tracker .table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.sale-tracker .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.sale-tracker .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}